asgiref==3.11.0
brotli==1.2.0
certifi==2026.2.25
cffi==2.0.0
charset-normalizer==3.4.6
cryptography==44.0.3
cssselect2==0.9.0
dj-database-url==3.1.2
Django==6.0.1
django-allauth==65.14.0
django-axes==8.1.0
django-cors-headers==4.9.0
django-encrypted-model-fields==0.6.5
django-environ==0.12.0
django-mfa2==3.1.2
django-ratelimit==4.1.0
django-weasyprint==2.4.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
ecdsa==0.19.1
fido2==1.2.0
fonttools==4.62.1
gunicorn==25.3.0
idna==3.11
packaging==26.0
pillow==12.1.1
psycopg2-binary==2.9.11
pyasn1==0.6.2
pycparser==3.0
pydyf==0.12.1
PyJWT==2.10.1
pyotp==2.9.0
pyphen==0.17.2
python-dateutil==2.9.0.post0
python-decouple==3.8
python-jose==3.5.0
python-u2flib-server==5.0.1
requests==2.32.5
rsa==4.9.1
six==1.17.0
sqlparse==0.5.5
tinycss2==1.5.1
tinyhtml5==2.1.0
tzdata==2025.3
ua-parser==1.0.1
ua-parser-builtins==202603
urllib3==2.6.3
user-agents==2.2.0
weasyprint==68.1
webencodings==0.5.1
whitenoise==6.12.0
zopfli==0.4.1
